<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Marhey:wght@300..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Weather Wizard</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <header>
        
        <nav>
            <ul>
                <li>
                    <div class="nav-element">
                        <a href="/" class="header-logo"><button><img src="images/weather-wizzard-logo.svg" alt="logo" class="logo"><h1>Weather Wizard</h1></button></a>                        
                    </div>    
                </li>
                
                <li class="right">
                    <div class="nav-element">
                        <a href="/about"><button><p>About</p></button></a>
                    </div>
                </li>
            
            </ul>
        </nav>

    </header>
<main>