body {
    background-color: rgb(35, 92, 177);      
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    height: 100%; 
}

nav {
    width: 100%;
}

h1 {
    padding-right: 10px;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;

}

h2 {
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.logo {
    width: 50px;
}
nav ul {
    list-style-type: none;
    background-color: rgb(21, 74, 154);
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}
nav li {
    margin: 0px;
}

input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
     font-style: normal;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: 0px;
    
}

.location-pin {
    width: 20px;
    margin-right: 10px;
}

nav li.right {
    margin-left: auto;
}

.nav-element {
    background-color: rgb(21, 74, 154);
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0px;
}

button {
    text-align: center;
    background-color: white;
    height: 70px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    p {
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
}

button:hover {
    background-color: rgb(35, 92, 177);
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    color: white;
    background-color: rgb(35, 82, 152);
    padding: 15px;
    margin: 25px;
    border: 5px;
    border-radius: 5px;
    text-align: center;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    padding-bottom: 10px;
    p {
      color: white;  
    }   
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}
#suggestions li {
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    list-style: none;
}
#suggestions li:hover {
    background: rgb(62, 135, 243);
}

#city-input {
    border: 1px solid #ccc;   
    padding: 8px;            
    border-radius: 3px;      
    font-size: 14px;        
    width: 250px; 
}

#city-input::placeholder {
    color: #999;
}

#city-input:focus {
    border-color: #007BFF;
    outline: none;           
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}
.hourly-forecast {
    display: grid;
    grid-template-columns: repeat(12, minmax(80px, 1fr));
    gap: 10px;
    padding: 15px;
    margin: 25px;
}

.today {   
    background-color: rgb(62, 135, 243);
    width: 35%;
    padding: 15px;
    margin: 25px;
    border: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.side-info-bar {   
    background-color: rgb(62, 135, 243);
    width: 75%;
    height: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border: 5px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    p {
        font-size: 20px;
        align-self: center;
        margin-top: 5px;
    }
}

.weather-icon {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-self: flex-end;
}

h3 {
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

.hourly-forecast-item {
    width: 35px;
    font-size: 10px;
    padding: 15px;
    border: 1px;
    border-radius: 3px;
    background-color: rgb(62, 135, 243);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 1515px) {
    .hourly-forecast {
      grid-template-columns: repeat(6, minmax(80px, 1fr));
    }
    .grid-container {
        grid-template-columns: repeat(1, minmax(80px, 1fr));
    }
}

@media (max-width: 900px) {
    .hourly-forecast {
      grid-template-columns: repeat(4, minmax(80px, 1fr));
    }
    .grid-container {
        grid-template-columns: repeat(1, minmax(80px, 1fr));
    }
    .today {
        width: 60%;
    }
    
}