<%- include("partials/header.ejs") %>
<div class="container">
    <div class="sub-container">
        <p>
            This app was created with node.js, express and ejs using Open-meteo, free weather API for data.
        </p>         
    </div>
</div>
<%- include("partials/footer.ejs") %>