<%- include("partials/header.ejs") %>
<div class="container">
    <div class="sub-container">
        <div class="container"><div class="today"><p style="text-align: justify;">
            Weather Wizzard is built using Node.js, Express, and EJS, and it retrieves weather data from the free Open-Meteo API. 
            The frontend is crafted entirely in clean CSS without any frameworks, giving it a modern, minimalist look. 
            This intuitive app quickly delivers weather forecasts for any chosen city, 
            combining state-of-the-art technology with simplicity and efficiency.
        </p></div></div>         
    </div>
</div>
<%- include("partials/footer.ejs") %>