<%- include("partials/header.ejs") %>
<div class="grid-container">
    <div class="container">
        <div class="sub-container">
            <form action="/forecast" method="post">
                <label for="city-input">Enter city name:</label><br>
                <input type="text" id="city-input" name="city" placeholder="City name" autocomplete="off" oninput="onCityInput(event)">
                <!-- Space for dynamic suggestions -->
                <ul id="suggestions"></ul>
                <!-- Hidden fields to store coordinates -->
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">
                <br>
                <button type="submit">Forecast Now</button>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
